body {
    font-family: 'Roboto Slab';
    font-size: 56px;
    background-color: #ed6464;
    color: #fbfbfb;
}

input {
    color: #1f1f1f;
    font-family: 'Roboto Slab';
    font-size: 40px;
    width: 20%;
    border: 3px solid #1f1f1f;
    border-radius: 5px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container-center {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.btn {
    font-family: 'Roboto Slab';
    font-size: 56px;
    position: relative;
    width: 250px;
    color: #fbfbfb;
    text-decoration: none;
    border-radius: 20px;
    border: 0px;
    background: #a71e2d;
    text-align: center;
    padding: 20px;

    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;

    -webkit-box-shadow: 0px 6px 0px #870a0c;
    -moz-box-shadow: 0px 6px 0px #870a0c;
    box-shadow: 0px 6px 0px #870a0c;
}

.btn:active{
    -webkit-box-shadow: 0px 2px 0px #870a0c;
    -moz-box-shadow: 0px 2px 0px #870a0c;
    box-shadow: 0px 2px 0px #870a0c;
    position: relative;
    top: 4px;
}

.ramdom-num {
    font-size: 144px;
}
